body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: #f4f4f4;
    padding: 50px;
}

ul {
    text-align: left;
    display: inline-block;
}
